In [1]:
import pandas as pd
gogle = pd.read_csv('C:\\Users\\Familia Romero Ramos\\machine_learning\\Stock_Predictor\\Google.csv')
micro=pd.read_csv('C:\\Users\\Familia Romero Ramos\\machine_learning\\Stock_Predictor\\Microsoft.csv')
apple = pd.read_csv('C:\\Users\\Familia Romero Ramos\\machine_learning\\Stock_Predictor\\Apple.csv')

In [2]:
gogle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4311 entries, 0 to 4310
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4311 non-null   object
 1   Open       4311 non-null   float64
 2   High       4311 non-null   float64
 3   Low        4311 non-null   float64
 4   Close      4311 non-null   float64
 5   Adj Close  4311 non-null   float64
 6   Volume     4311 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 235.9+ KB

In [3]:
#contar el total de nulos  google
gogle.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [4]:
#contar el total de nulos  Microsoft
micro.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [5]:
#contar el total de nulos  Apple
apple.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [6]:
gogle["Date"]

0       2004-08-19
1       2004-08-20
2       2004-08-23
3       2004-08-24
4       2004-08-25
           ...
4306    2021-09-27
4307    2021-09-28
4308    2021-09-29
4309    2021-09-30
4310    2021-10-01
Name: Date, Length: 4311, dtype: object

In [15]:
import datetime
gogle["Date"].head(15) ###jueves
gogle["DateGood"]=pd.to_datetime(gogle["Date"])
con=pd.to_datetime(gogle["Date"][0]);
error=0

for dia in gogle["DateGood"]:
    ##print(con,"<-->",dia)
    ##print(con.isocalendar()[2],"<-->",dia.isocalendar()[2])
    if con.day!=dia.day or con.month!=dia.month or con.year!=dia.year:
        error+=1
        if con.year==2010:
            print(con,"--")
        con=dia
        
    con+=datetime.timedelta(days=1)
    if con.isocalendar()[2]==6:
        con+=datetime.timedelta(days=2)
    ##print(con,"_  _",dia)
print(error,"len=",len(gogle["DateGood"]))

2010-01-01 00:00:00 --
2010-01-18 00:00:00 --
2010-02-15 00:00:00 --
2010-04-02 00:00:00 --
2010-05-31 00:00:00 --
2010-07-05 00:00:00 --
2010-09-06 00:00:00 --
2010-11-25 00:00:00 --
2010-12-24 00:00:00 --
154 len= 4311

In [8]:
##gogle.info()
##for dia in gogle["DateGood"]:
  ##  print(dia.isocalendar())

In [9]:
import datetime
apple["Date"].head(15) ###jueves
apple["DateGood"]=pd.to_datetime(apple["Date"])
con=pd.to_datetime(apple["Date"][0]);
error=0

for dia in apple["DateGood"]:
    ##print(con,"<-->",dia)
    ##print(con.isocalendar()[2],"<-->",dia.isocalendar()[2])
    if con.day!=dia.day or con.month!=dia.month or con.year!=dia.year:
        error+=1
        con=dia
    con+=datetime.timedelta(days=1)
    if con.isocalendar()[2]==6:
        con+=datetime.timedelta(days=2)
    ##print(con,"_  _",dia)
print(error,"len=",len(apple["DateGood"]))

352 len= 10285

In [10]:
apple["Date"].head(15) ##viernes

0     1980-12-12
1     1980-12-15
2     1980-12-16
3     1980-12-17
4     1980-12-18
5     1980-12-19
6     1980-12-22
7     1980-12-23
8     1980-12-24
9     1980-12-26
10    1980-12-29
11    1980-12-30
12    1980-12-31
13    1981-01-02
14    1981-01-05
Name: Date, dtype: object

In [11]:
import datetime
micro["Date"].head(15) ###jueves
micro["DateGood"]=pd.to_datetime(micro["Date"])
con=pd.to_datetime(micro["Date"][0]);
error=0

for dia in micro["DateGood"]:
    ##print(con,"<-->",dia)
    ##print(con.isocalendar()[2],"<-->",dia.isocalendar()[2])
    if con.day!=dia.day or con.month!=dia.month or con.year!=dia.year:
        error+=1
        con=dia
    con+=datetime.timedelta(days=1)
    if con.isocalendar()[2]==6:
        con+=datetime.timedelta(days=2)
    ##print(con,"_  _",dia)
print(error,"len=",len(micro["DateGood"]))

309 len= 8953

In [12]:
micro["Date"].head(10) ### jueves

0    1986-03-13
1    1986-03-14
2    1986-03-17
3    1986-03-18
4    1986-03-19
5    1986-03-20
6    1986-03-21
7    1986-03-24
8    1986-03-25
9    1986-03-26
Name: Date, dtype: object